* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #111;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app {
    display: flex;
    width: 100%;
    height: 100dvh; /* better than 100vh for mobile */
    overflow: hidden;
}

/* Whiteboard */
#superboard {
    flex: 1;
    background: #1a1a1a;
}
